{% extends "::base.html.twig" %}


{% block body %}
<p><a href="{{ path('index') }}">Back</a> - <a href="{{ path('fos_user_security_logout') }}">Logout</a></p>
<h1>ADD BUDGET</h1>

<p>{{ message }}</p>
<p>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
</p>
{% endblock %}
